/* font-family: 'Alexandria', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Mukta', sans-serif; */

#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;

  /* background-color: black; */
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

form {
  /* border: 1px solid black; */

  padding: 50px;
  border-radius: 10px;
  background-color: #efefef;
}

.navbar {
  background-color: #efefef;
  height: 75px;
  margin-bottom: 75px;
}
.navbar-expand .navbar-nav .dropdown-menu {
  background-color: #efefef;
}

#cart {
  width: 25px;
}

#logo-img {
  position: absolute;
  width: 250px;
  top: -50px;
}

div #hero {
  height: 90vh;
  font-family: "Alexandria", sans-serif;
}

#hero img {
  margin: 50px;
}

.sign-container {
  margin: 50px 0;
}
